.attach-img,
.menuimg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}
.header-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 2px 8px 0 #04040426;
  overflow: visible;
  width: 98%;
  border: none;
  height: 8%;
  display: flex;
}
.menuimg {
  margin: auto 2px auto auto;
  user-select: none;
  border-radius: 120px;
  height: 40px;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
  width: 40px;
}
.menuimg::after {
  display: inline-block;
  content: "";
  position: fixed;
  height: 40px;
  width: 40px;
  pointer-events: none;
  z-index: 100;
  top: 0;
  background-image: radial-gradient(
    circle,
    rgba(169, 160, 160, 0.4),
    #e6dcdc 80%,
    rgba(255, 220, 220, 0) 10%
  );
  background-repeat: no-repeat;
  border-radius: 100%;
  right: 0;
  -webkit-transform: scale(10, 10);
  transform: scale(10, 10);
  opacity: 0;
  transition: opacity 0.6s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.6s;
  transition: transform 0.5s, opacity 0.6s, -webkit-transform 0.5s;
}
.ChatContent,
.footer {
  position: absolute;
  left: 0;
  right: 0;
}
.menuimg:active::after {
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  opacity: 0.8;
  transition: 0s;
}

div[notification] {
  position: fixed;
  bottom: 10%;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  width: 20%;
  background-color: #111;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
}
.peername {
  font-weight: 700;
  margin-left: 10px;
}
.peerstatus {
  color: #0030f38f;
  margin-left: 10px;
  font-weight: 400;
}
.attach-img {
  margin-right: 15px;
  display: block;
  height: 100%;
  flex: 1;
  align-self: flex-end;
  transition: 0.2s ease-in-out;
  user-select: none;
}
.inpbox_ {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 98%;
  background-color: #fff;
  margin: auto;
  display: flex;
  outline: 0;
  height: 98%;
  border-radius: 20px;
  padding: 4px;
  border: 2px solid #e3e3e3;
  overflow: hidden;
}
.footer {
  bottom: 15px;
  height: 30px;
  overflow: visible;
  padding: 0;
}
.send-btn,
.textBox {
  height: 100%;
  border: none;
  outline: 0;
}
.textBox {
  width: 100%;
  flex-grow: 1;
  margin-left: 5px;
}
.ChatContent {
  margin: auto;
  top: 8%;
  bottom: 50px;
  overflow: auto;
  text-align: center;
}
.send-btn {
  display: flex;
  min-width: 5%;
  background: 0 0;
  color: #e000d5;
  font-weight: 700;
  cursor: pointer;
  flex: 1;
  align-self: flex-end;
  margin-right: 15px;
}
